<%= render 'layouts/navbar' %> 

<section class="not-found">
  <div class="right">
    <h1 class="main-h1"> <span id="heading-red">403</span> Not Allowed!</h1>
    <p class="main-h2 spaced-text">Permission denied!</p>
    <p class="main-p">Sorry, you do not have permission to access this page.</p>
    <a href="/">
    <button class="btn-bg-transparent">Back to HOME</button>
    </a>
  </div>
  <div class="bg-plate"></div>
</section>