<%= render 'layouts/navbar' %> 

<section class="not-found">
  <div class="bg-plate"></div>
  <div class="right">

    <h1 class="main-h1"> <span id="heading-red">404</span> Not Found!</h1>
    <p class="main-h2 spaced-text">No Route Match</p>
    <p class="main-p">We looked all over, but that page seems to have gotten away from us. Try a correct link or click the button below to go to the homepage.</p>
    <a href="/">
    <button class="btn-bg-transparent">Back to HOME</button>
    </a>
</div>

</section>