.footer {
  background-color: var(--color-primary);
  justify-content: space-between;
  align-items: center;
  padding: 16px 32px;
  color: white;
  font-size: 1.4rem;
}

/* Media query for smaller screens */
@media screen and (max-width: 768px) {
  .footer {
    flex-direction: column;
    text-align: center;
    padding: 16px;
  }
}
