#nav-home {
  width: 100%;
  position: fixed;
  top: 0;
  left: 0;
  display: flex;
  justify-content: flex-end;
}

#nav-home .navbar-inner {
  min-width: 300px;
  padding: 6px 24px;
  display: flex;
  justify-content: flex-end;
  background-color: white;
  font-weight: bolder;
}

.nav:hover {
  background: #ffbd59;
  font-size: 30px;
  font-weight: bolder;
}

.home {
  min-height: 100vh;
}

.home-wrapper {
  position: relative;
  min-height: 800px;
  align-items: flex-end;
}

.home .heading-text,
.not-found .heading-text {
  max-width: 90%; /* Adjusted max-width for responsiveness */
  margin-top: 10%; /* Adjusted margin-top for responsiveness */
  margin-right: auto;
  margin-left: auto;
}

.home .heading-text h1 {
  font-size: 4.5rem;
  color: var(--color-text-black);
}

.home .heading-text a {
  margin-right: 16px;
}

/* Media query for smaller screens */
@media screen and (max-width: 768px) {
  .home-wrapper {
    min-height: auto; /* Adjusted min-height for responsiveness */
  }

  .home .heading-text,
  .not-found .heading-text {
    margin-top: 20%; /* Adjusted margin-top for smaller screens */
    text-align: center; /* Center-align the text */
  }
}
