#nav-home {
  width: 100%;
  position: fixed;
  top: 0;
  left: 0;
  display: flex;
  justify-content: flex-end;
}

#nav-home .navbar-inner {
  min-width: 300px;
  padding: 6px 24px;
  display: flex;
  justify-content: flex-end;
  background-color: white;
  font-weight: bolder;
}

.nav :hover {
  background: #FFBD59;
  font-size: 20px;
  font-weight: bolder;
}

.home {
  min-height: 100vh;
}

.home-wrapper {
  position: relative;
  height: 100%;
  min-height: 800px;
  align-items: flex-end;
}

.home .heading-text,
.not-found .heading-text {
  max-width: 500px;
  margin-top: 250px;
  margin-right: 10%;
}

.home .heading-text h1 {
  font-size: 4.5rem;
  color: var(--color-text-black);
}

.home .heading-text a {
  margin-right: 16px;
}
