.navbar {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 80%;
  margin: auto;
  z-index: 100;
  padding: 2% 0;
}

.navbar-inner,
.nav {
  display: flex;
  align-items: center;
}

.nav li {
  list-style: none;
  margin-right: 2rem;
  font-size: 2rem;
}

a {
  text-decoration: none;
  color: inherit;
}

.logout-btn {
  cursor: pointer;
  color: white;
  border: 0;
  font-size: 2rem;
  border-radius: 2px;
  padding: 4px 12px;
  background-color: var(--color-primary);
}

.logout-btn:hover {
  background-color: #a51434;
}

.navbar img {
  width: 60px;
  height: 60px;
}

.current-user {
  color: var(--color-primary);
  font-weight: bold;
  font-size: 30px;
  border-bottom: 1px solid #ccc;
  text-align: center;
  position: relative;
}

.current-user::after {
  content: '';
  position: absolute;
  bottom: -1px;
  left: 0;
  width: 100%;
  height: 2px;
  background-color: #333;
  animation: blink 1s linear infinite;
}

@keyframes blink {
  0% {
    opacity: 0;
  }
  50% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}
